body {
    line-height: 2;
    padding-top: 65px;
}

.topnav {
    position: fixed;
    top: 0;
    left: 50%;
    /* Set the horizontal position to the middle of the screen */
    transform: translateX(-50%);
    /* Move the navbar back by half of its width */
    width: auto;
    /* Remove the fixed width */
    height: 55px;
    z-index: 10;
}

.topnav a {
    display: inline-block;
    /* Display the links in a row */
    color: #807979;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 14px;
}

.header {
    text-align: center;
}

#homePage {
    padding: 250px 0;
}

#aboutPage {
    padding: 20px 0;
}

#center {
    text-align: center;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.description {
    padding-left: 230px;
    padding-right: 230px;
    font-size: 14.5px;
    text-align: justify;
}

.image-container {
    text-align: center;
}

.image-container img {
    display: inline-block;
    max-width: 37%;
    height: auto;
}

.subheading {
    font-size: 17px;
    font-style: italic;
    color: rgb(240, 50, 50)
}

#darker {
    color: #777070;
}

.code-section {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 100px;
    font-family: Consolas, monospace;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
  }
  
  